@import "./reset.css";
@import "./colors.css";
@import "./global.css";

/* 

SIZING

*/

.w-100 {
  width: 100%;
}

.w-100vw {
  width: 100vw;
}

.h-100vh {
  height: 100vh;
}

.h-100 {
  height: 100%;
}

/* 

DISPLAY & POSITIONING

*/

.d__flex {
  display: flex;
}

.flex-dir__row {
  flex-direction: row;
}
.flex-dir__col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content__center {
  justify-content: center;
}

/* 

FONTS

*/

.ff__dina {
  font-family: "DinaRemaster" !important;
}

pre.ff__dina {
  font-family: "DinaRemaster", monospace !important;
}

.ff__monospace {
  font-family: monospace;
}
/* 

FONT SIZING

*/

.font-size-12 {
  font-size: 12px;
}
.font-size-13 {
  font-size: 13px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-15 {
  font-size: 15px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-17 {
  font-size: 17px;
}
.font-size-18 {
  font-size: 18px;
}
/* 

SPACING

*/

/* margin top */
.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mt-7 {
  margin-top: 1.75rem;
}
.mt-8 {
  margin-top: 2rem;
}

/* margin bottom */
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.mb-7 {
  margin-bottom: 1.75rem;
}
.mb-8 {
  margin-bottom: 2rem;
}


/* margin left */
.ml-1 {
  margin-left: 0.25rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-3 {
  margin-left: 0.75rem;
}
.ml-4 {
  margin-left: 1rem;
}

/* margin right */
.mr-1 {
  margin-right: 0.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mr-3 {
  margin-right: 0.75rem;
}
.mr-4 {
  margin-right: 1rem;
}

/* margin Y */
.my-1 {
  margin: 0.25rem 0;
}
.my-2 {
  margin: 0.5rem 0;
}
.my-3 {
  margin: 0.75rem 0;
}
.my-4 {
  margin: 1rem 0;
}

/* margin X */
.mx-1 {
  margin: 0 0.25rem;
}
.mx-2 {
  margin: 0 0.5rem;
}
.mx-3 {
  margin: 0 0.75;
}
.mx-4 {
  margin: 0 1rem;
}

/* padding */
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 0.75rem;
}
.p-4 {
  padding: 1rem;
}
.p-5 {
  padding: 1.25rem;
}
.p-6 {
  padding: 1.5rem;
}
.p-7 {
  padding: 1.75rem;
}
.p-8 {
  padding: 2rem;
}

.pt-4 {
  padding-top: 1rem;
}