.dark-alien-green {
  color: #132616;
}
.bg__dark-alien-green {
  background-color: #132616;
}

.bg__dark-alien-black {
  background-color: #161717;
}

.light-alien-green {
  color: #76e582;
}
.bg__light-alien-green {
  background-color: #76e582;
}

.vibrant-alien-yellow {
  color: #d2fc00;
}
.bg__dirty-alien-yellow {
  background-color: #6a7729;
}

.light-alien-purple {
  color: #48597d;
}
.bg__light-alien-purple {
  background-color: #48597d;
}
.dark-alien-purple {
  color: #bf3be3;
}
.dark-alien-blood {
  color: #732a27;
}
.bg__dark-alien-blood {
  background-color: #732a27;
}

.light-alien-gray {
  color: #5e766e;
}
.bg__light-alien-gray {
  background-color: #5e766e;
}

.light-alien-blue {
  color: #1bbde9;
}
.bg__light-alien-blue {
  background-color: #2c5f6d;
}

.white {
  color: #fff;
}
.off-white {
  color: #bfbbbb;
}